
<link href="~/Content/apcurs.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <header class="main-header">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <a href="@Url.Action("Index","Home")"><img src="~/img/logo.jpg" width="150" height="50" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="top:13px">
                <form method="get" action="/search" id="searchbox5">
                    <input id="search5" name="q" type="text" size="20" placeholder=" Ara..." />
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="top:13px">
                <nav class="main-nav">
                    <ul>
                        <li class="dropdown">
                            <a href="#" tabindex="-1" class="dropdown">Kategoriler</a>
                            <ul class="dropdown-content">

                                <div class="categoryRow">

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                </div>

                                <div class="categoryRow">


                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                    <a href="#">
                                        <img src="http://via.placeholder.com/150x150" />
                                    </a>

                                </div>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("QuestionIndex","Questions")">Sorular</a>
                        </li>

                        <li>
                            <a href="@Url.Action("ArticleIndex","Article")">Makaleler</a>
                        </li>

                        <li>
                            <a href="#">Tartışma</a>
                        </li>
                        <li>
                            <a href="#">Etkinlik</a>
                        </li>

                        <li>

                            <a href="#">Uzman</a>
                        </li>

                    </ul>
                </nav>
            </div>
            @if (Session["user"] == null)
            {
                <div class="account col-xs-12 col-sm-2 col-md-2 col-lg-2" style="top:13px">
                    <a class="" href="@Url.Action("Login","Account")">Giriş Yap</a>
                    <a class="" href="@Url.Action("UserRegister","Account")">Kayıt Ol</a>

                </div>
            }

            @if (Session["user"] != null)
            {
                <div class="profilphoto col-xs-12 col-sm-2 col-md-2 col-lg-2" style="top:13px">
                    <li class="profil-dropdown" style="list-style-type:none;">
                        <a href="#">
                            <img class="nav-user-photo" style="border-radius:8px;" src="https://avatars1.githubusercontent.com/u/24634440?s=400&v=4" width="30" height="30">

                            <span class="">
                                <small>Hoşgeldin,@Session["userName"]</small>
                            </span>
                        </a>

                        <ul class="profil-content">
                            <li><a href="page-user.html"><i class="fa fa-user fa-lg"></i> Profilim</a></li>
                            <li><a href="page-user.html"><i class="fa fa-pencil-square-o"></i> Profilimi Düzenle</a></li>
                            <li><a href="page-user.html"><i class="fa fa-key"></i> Parola Değiştir</a></li>
                            <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Ayarlar</a></li>
                            <li><a href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Çıkış</a></li>
                        </ul>
                    </li>
                </div>

            }
           

        </div>


    </header>


