@using apcurs.Models
<link href="~/Content/apcurs.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .top-bar {
        background: #3f51b5 none repeat scroll 0 0;
    }

        .top-bar ul.top-nav {
            margin: 0;
            padding: 9px 0;
        }

            .top-bar ul.top-nav.nav-left > li {
                border-left: 1px solid rgba(255, 255, 255, 0.3);
                padding: 0 0 0 15px;
            }

            .top-bar ul.top-nav.nav-right > li {
                margin: 0;
                border-left: 1px solid rgba(255, 255, 255, 0.3);
                padding: 0 15px;
            }

            .top-bar ul.top-nav.nav-left > li:first-child {
                border-left: none;
                padding-left: 0;
            }

            .top-bar ul.top-nav li {
                display: inline-block;
                margin: 0 15px 0 0;
                padding: 0;
                position: relative;
            }

                .top-bar ul.top-nav li a {
                    display: inline-block;
                    font-size: 12px;
                    outline: medium none;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                }

        .top-bar .top-nav.nav-right {
            float: right;
            text-align: right;
            margin-right: 40px;
        }

        .top-bar ul.top-nav {
            margin: 0;
            padding: 9px 0;
            margin-left: 40px;
        }

            .top-bar ul.top-nav.nav-right > li:first-child {
                border-left: none;
            }

            .top-bar ul.top-nav li a {
                display: inline-block;
                font-size: 12px;
                outline: medium none;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
            }

    input::placeholder {
        color: #555;
        opacity: 0.8;
    }

    .bottom-bar {
        width: 1225px;
        height: 50px;
    }
</style>


<header class="main-header">

    <div class="top-bar">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                <ul id="menu-left-top-bar" class="top-nav nav-left">
                    <li><a href="@Url.Action("index","home")">Ana Sayfa</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">İletişim</a></li>
                </ul>
            </div>
            <div class=" col-md-8 col-sm-6 col-xs-12">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <form method="get" action="/search" id="searchbox5" style="margin-bottom:0">
                        <input id="search5" name="q" type="text" size="20" placeholder=" Ara..." />
                    </form>
                </div>
                <ul id="menu-not-login-top-bar" class="top-nav nav-right">
                    @if (Session["user"] == null)
                    {
                        <li id="nav-menu-item-100" class=" dropdown  menu-item-even menu-item-depth-0 login-comments menu-item menu-item-type-custom menu-item-object-custom">

                            <a href="@Url.Action("login", "account")"><i class="fa fa-lock" aria-hidden="true"></i> GİRİŞ</a>

                        </li>

                        <li id="nav-menu-item-99" class=" dropdown  menu-item-even menu-item-depth-0 signup menu-item menu-item-type-custom menu-item-object-custom">

                            <a href="@Url.Action("userRegister", "account")"><i class="fa fa-user-plus" aria-hidden="true"></i> KAYIT</a>

                        </li>
                    }
                    @*else
                    {



                        <li class="purple">
                            <a data-toggle="dropdown" title="8 tane bildiriminiz var" class="dropdown-toggle" href="#" aria-expanded="false">
                                <i class="ace-icon fa fa-bell"></i>
                                <span class="badge badge-important">8</span>
                            </a>
                        </li>
                        <li class="green">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">5</span>
                            </a>
                        </li>

                    }*@

                </ul>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <a href="@Url.Action("index","home")"><img src="~/img/logo.jpg" width="150" height="50" /></a>
        </div>
        <div class="main-nav col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <ul class="navlist">
                <li>
                    <a href="@Url.Action("Index","tags")">Etiketler</a>

                </li>
                <li>
                    <a href="@Url.Action("questionIndex","questions",new { tab=1})">Sorular</a>
                </li>

                <li>
                    <a href="@Url.Action("articleIndex","articles")">Makaleler</a>
                </li>

                <li>
                    <a href="@Url.Action("Index","discussions")">Tartışma</a>
                </li>
                <li>
                    <a href="#">Etkinlik</a>
                </li>

                <li>

                    <a href="#">Uzman</a>
                </li>

            </ul>
        </div>

        @if (Session["user"] != null)
        {
            var us = (User)Session["user"];
            //us.ProfilPicture= "https://avatars0.githubusercontent.com/u/24634440?s=460&v=4";
            <div class="profilphoto col-xs-12 col-sm-2 col-md-3 col-lg-3" style="top:13px">

                <li class="purple dropdown-modal" style="float:left;list-style-type:none;">
                    <a data-toggle="dropdown" title="8 tane bildiriminiz var" class="dropdown-toggle" href="#" aria-expanded="false">
                        <i class="ace-icon fa fa-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>
                </li>
                <li class="green dropdown-modal" style="float:left;list-style-type:none;">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left:10px;">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>
                </li>

                <li class="profil-dropdown">
                    <a href="@Url.Action("userIndex","users",new { userid=us.id})">
                        @if (us.ProfilPicture != null)
                        {
                            <img class="nav-user-photo" style="border-radius:8px;" src="@us.ProfilPicture" width="30" height="30">
                        }
                        else
                        {
                            var letter = us.UserName[0];
                            <div class="profile-rail-card__member-photo" style="width: 30px; height: 30px; background:#1b1048; border-radius:5px;float:left">
                                <div style="color: white; font-size:25px; font-family:arial;padding-left:5px;padding-top:5px;">
                                    @Html.convertImage(us.UserName)
                                </div>

                            </div>
                        }

                        <span class="">
                            <small style="margin-left:5px">@us.UserName</small>
                        </span>
                    </a>

                    <ul class="profil-content">
                        <li><a href="@Url.Action("userIndex","users",new { userid=us.id})"><i class="fa fa-user fa-lg"></i> Profilim</a></li>
                        <li><a href=""><i class="fa fa-pencil-square-o"></i> Profilimi Düzenle</a></li>
                        <li><a href="page-user.html"><i class="fa fa-key"></i> Parola Değiştir</a></li>
                        <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Ayarlar</a></li>
                        <li><a href="@Url.Action("LogOut","account",new { userid=us.id})"><i class="fa fa-sign-out fa-lg"></i> Çıkış</a></li>
                    </ul>
                </li>


            </div>
        }


    </div>



</header>
