@model apcurs.Models.RegisterViewModel

@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/main-green.css" rel="stylesheet" />
<link href="~/Content/leaflet.css" rel="stylesheet" />

<div class="section section-breadcrumbs">
    <div class="containera">
        <div class="rowa">
            <div class="col-md-12">
                <h1>Ücretsiz Apcurs Hesabını Oluştur</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="accountRow">
            <div class="col-sm-5">
                <div class="basic-login">
                    @using (Html.BeginForm("UserRegister", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                     
                        <div class="form-group" style="margin-top:20px;">
                            <input type="submit" value="Oluştur" class="btn btn-default" />
                            <div class="clearfix"></div>
                        </div>
                    }


                </div>
            </div>
                <div class="col-sm-6 col-sm-offset-1 social-login">
                    <p>Kayıt için Twitter veya Facebook Hesabını Kullanabilirsin</p>
                    <div class="social-login-buttons">
                        <a href="#" class="btn-facebook-login">Facebook</a>
                        <a href="#" class="btn-twitter-login">Twitter</a>
                    </div>
                </div>
        </div>
    </div>
</div>
