@model apcurs.Models.QuestionAndArticleModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/home.css" rel="stylesheet" />
<link href="~/Content/question.css" rel="stylesheet" />
<link href="~/Content/menu.css" rel="stylesheet" />



    <nav class="site__nav">
      <ul style="padding-left:500px;margin-top:30px">
          <li><a class="site__nav-item" href="#about-me" data-toggle="about-section">Sorular</a></li>
          <li><a class="site__nav-item" href="#blog" data-toggle="article-section">Makaleler</a> </li>
      </ul>
    </nav>




<div class="section" style="padding-bottom:1900px;">
    <div class="tab-content" id="myTabContent">

        <div class="home__about">



            <div class="row" style="margin-left:160px;margin-top:30px;width:1300px">
                <div class="col-md-8">

                    <div class="card">


                        <ul class="nav nav-tabs" style="width:100%;">
                            <li class="active"><a href="#home" data-toggle="tab">Son Sorular</a></li>
                            <li><a href="#profile" data-toggle="tab">Cevaplanmamış Sorular</a></li>
                            <li> <a href="#profile1" data-toggle="tab">En Çok Görüntülenen Sorular </a></li>

                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade active in" id="home">

                                @foreach (var item in Model.lastQuestions)
                                {

                                    <div class="question-summary narrow">
                                        <div class="cp">
                                            <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="@item.user.UserName"><img width="60" height="60" class="userImage" style="border-radius:100px" alt="@item.user.UserName" src="@item.user.ProfilPicture"></a>
                                            <div class="status unanswered" style="margin:0;">
                                                <div class="mini-counts"><span title="@item.voteCount oylama">@item.voteCount</span></div>
                                                <div>oylama</div>
                                            </div>
                                            <div class="status unanswered" style="margin:0;">

                                                <div class="mini-counts"><span title="@item.answers.Count() cevap">@item.answers.Count()</span></div>
                                                <div>cevap</div>
                                            </div>
                                            <div class="views" style="margin:0;">
                                                <div class="mini-counts"><span title="@item.viewCount görüntüleme">@item.viewCount</span></div>
                                                <div>görüntüleme</div>
                                            </div>
                                        </div>
                                        <div class="image display_none">

                                            <div class="summary" style="width:310px;">

                                                <h3 style="margin-top:0;"><a href="" class="question-hyperlink">@item.shortTitle</a></h3>

                                                <div class="started" style="float:left;">

                                                    <span class="reputation-score" title="itibar " dir="ltr">@item.user.Reputation </span><a href="/users/2597209/user2597209">@item.user.UserName </a><span>tarafından @item.createdDate soruldu</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>


                            <div class="tab-pane fade" id="profile">

                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Will CLR check the whole inheritance chain to determine which virtual method to call?</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile1">
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:540px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top:40px;">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Blog</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav">
                                <li>
                                    <a href="#">Bermuda Şeytan Üçgeni’nde Yaşananların Bilimsel Açıklamaları</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Muz Oyma Sanatı</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Ali İsmail Korkmaz Ölümünün 4.yılında Anıldı.</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Kartal Bebek Kimdir? Neden Twitter’da Gündem Oldu</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Dünyanın En Tecrübeli 8 Stoperi ve Oynadıkları Kulüpler</a>

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <div class="home__blog">
        <div class="section">

            <div class="row" style="margin-left:160px;margin-top:30px;width:1300px">
                <div class="col-md-8">

                    <div class="card">


                        <ul class="nav nav-tabs" style="width:100%;">
                            <li class="active"><a href="#home" data-toggle="tab">Son Makaleler</a></li>
                            <li><a href="#profile2" data-toggle="tab">En Çok Beğenilen Makaleler</a></li>
                            <li> <a href="#profile3" data-toggle="tab">En Çok Okunan Makaleler </a></li>

                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade active in" id="home">


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="tab-pane fade" id="profile2">

                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="profile3">

                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="question-summary narrow">
                                    <div class="cp">
                                        <a href="http://www.c-sharpcorner.com/members/rajdip-sarkar6" title="Rajdip Sarkar"><img width="60" height="60" class="userImage" alt="Rajdip Sarkar" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/AuthorImage/0ee9bd20170420030328.jpg.ashx?width=88&amp;height=88"></a>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>oylama</div>
                                        </div>
                                        <div class="status unanswered" style="margin:0;">
                                            <div class="mini-counts"><span title="0 answers">0</span></div>
                                            <div>cevap</div>
                                        </div>
                                        <div class="views" style="margin:0;">
                                            <div class="mini-counts"><span title="1 view">1</span></div>
                                            <div>görüntüleme</div>
                                        </div>
                                    </div>
                                    <div class="image display_none">

                                        <div class="summary" style="width:310px;">

                                            <h3><a href="" class="question-hyperlink">Read keys StartWith some text Firebase</a></h3>

                                            <div class="started" style="float:left;">
                                                <a href="/questions/46000852/how-to-login-using-the-mobile-number-in-django-rest-framework" class="started-link">asked <span title="2017-09-01 13:01:36Z" class="relativetime">1 min ago</span></a>
                                                <a href="/users/2597209/user2597209">user2597209</a> <span class="reputation-score" title="reputation score " dir="ltr">8</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="margin-top:40px;">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Blog</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav">
                                <li>
                                    <a href="#">Bermuda Şeytan Üçgeni’nde Yaşananların Bilimsel Açıklamaları</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Muz Oyma Sanatı</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Ali İsmail Korkmaz Ölümünün 4.yılında Anıldı.</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Kartal Bebek Kimdir? Neden Twitter’da Gündem Oldu</a>
                                    <hr style="margin-top:0;margin-bottom:0" />
                                </li>
                                <li>
                                    <a href="#">Dünyanın En Tecrübeli 8 Stoperi ve Oynadıkları Kulüpler</a>

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


    <script src="~/Scripts/app.js"></script>
 
