@model apcurs.Models.QuestionAndArticleModel
@using apcurs.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .widget ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .widget_highest_points ul li {
        padding-bottom: 15px;
    }

    .widget ul li {
        position: relative;
        font-size: 14px;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .sidebar .author-img {
        padding: 5px 0;
        border: 0px solid;
    }

    .author-img {
        float: left;
        display: block;
        overflow: hidden;
        width: 71px;
        height: 71px;
        position: relative;
        margin-right: 20px;
        padding: 2px;
        border: 1px solid #dedede;
        -moz-border-radius: 4%;
        -webkit-border-radius: 4%;
        border-radius: 4%;
    }

    .widget ul li h6 {
        font-size: 14px;
        line-height: 20px;
        word-break: break-all;
    }

    .widget_comments li h6 {
        overflow: hidden;
    }

    .widget_highest_points li h6 {
        margin: 5px 0;
        font-weight: bold;
    }

    .widget ul li a, .widget .widget_highest_points.widget_comments ul li a .widget ul li a, .widget .widget_highest_points.widget_comments ul li a {
        line-height: 18px !important;
        font-size: 13px !important;
    }

    .widget ul li a, .widget .widget_highest_points.widget_comments ul li a {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        color: #191919;
    }

    .author-img img {
        display: block;
        float: left;
        width: 65px;
        height: 65px;
        overflow: hidden;
        -moz-border-radius: 4%;
        -webkit-border-radius: 4%;
        border-radius: 4%;
    }




    .widget {
        background-color: #fff;
        box-shadow: 0 1px 2px #ccc;
        overflow: hidden;
        margin-bottom: 50px;
        position: relative;
        color: #2f3239;
        padding: 20px;
        top: 40px;
        left: 60px;
    }

        .widget h3.widget_title {
            padding: 16px !important;
            font-size: 15px;
            font-weight: 600;
            color: #191919 !important;
            text-transform: capitalize;
            border-left: 2px solid #2b79a2;
            border-right: 2px solid #2b79a2;
            margin-left: -20px !important;
            margin-right: -20px !important;
            border-bottom: 1px solid #f3f3f3 !important;
        }

        .widget ul li {
            position: relative;
            font-size: 14px;
            overflow: hidden;
            padding-bottom: 10px;
        }

        .widget ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

    .serit {
        width: 100%;
        height: 80px;
        background-color: rgba(34, 34, 34, 0.8);
    }

    .blog {
        font-size: 22px;
        background-position: 65px -1103px;
        color: powderblue;
        top: 30px;
        font-weight: bolder;
        border-right: 2px solid;
    }

    .bloglist {
        height: auto;
    }

        .bloglist li {
            list-style-type: none;
            top: 10px;
        }

    .blogtext {
        float: right;
        width: 80%;
        height: 85%;
        margin-left: 0px;
        padding-top: 10px;
        word-wrap: break-word;
        cursor: pointer;
    }

        .blogtext:hover a {
            color: #4f8db3;
        }

        .blogtext a {
            color: white;
            font-size: 13px;
            font-family: 'open sans', sans-serif;
            text-decoration: none;
        }

    .etiket {
        background-color: #e4e4e4;
        border: 1px solid #aaa;
        border-radius: 2px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px !important;
        color: #39739d !important;
        height: 23px;
    }

    /*****************sidebar********/
    .sidebarblock {
        background-color: #ffffff;
        border-radius: 2px;
        box-shadow: 0 1px 2px #c9cccd;
        margin-bottom: 20px;
        border-left: 1px solid #9a9595;
        border-right: 1px solid #9a9595;
        margin-top: 30px;
    }

        .sidebarblock h3 {
            color: #363838;
            font-size: 14px;
            font-family: 'Open Sans Bold', sans-serif;
            margin: 0;
            padding: 20px;
        }

        .sidebarblock .divline {
            height: 1px;
            line-height: 1px;
            border-bottom: solid 1px #f1f1f1;
        }

        .sidebarblock .blocktxt {
            font-size: 14px;
            color: #363838;
            font-family: 'Open Sans Light', sans-serif;
        }

        .sidebarblock .blocktxt {
            padding: 20px;
        }

    ul.cats {
        margin: 0;
        padding: 0;
    }

        ul.cats li {
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
            line-height: 30px;
        }

    .avt {
        margin-top: 10px;
    }

        .avt button {
            height: 38px;
            border: none;
            box-shadow: none;
            border-radius:3px;
            color: #ffffff;
            width: 100%;
            font-size: 14px;
            font-family: 'Open Sans Bold', sans-serif;
            padding-left: 30px;
            padding-right: 30px;
            background-color: #3f51b5;
        }
</style>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/QuestionList.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@*<div class="serit col-md-12 col-lg-12 col-sm-12">
        <div class="container">
            <div class="col-md-1 blog">
                BLOG
            </div>
            <ul class="col-md-10 col-sm-11 col-lg-10 bloglist" style="width:90%">

                <li class="col-md-4 col-sm-8 col-lg-4">
                    <a href="#">
                        <img style="border-radius:3px;" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/MinorCatImages/015654AM.png" height="60" width="60" />
                    </a>
                    <div class="blogtext">
                        <a>Angular 5 CRUD Operation Using Node, Express, MongoDB</a>
                    </div>

                </li>
                <li class="col-md-4 col-sm-8 col-lg-4">
                    <img style="border-radius:3px;" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/MinorCatImages/193348PM.png" height="60" width="60" />

                    <div class="blogtext">
                        <a>Exploring Angular Fundamental With Visual Studio 2017</a>
                    </div>

                </li>
                <li class="col-md-4 col-sm-8 col-lg-4">
                    <img style="border-radius:3px;" src="http://csharpcorner.mindcrackerinc.netdna-cdn.com/UploadFile/MinorCatImages/062632AM.png.ashx?width=48&height=48" height="60" width="60" />

                    <div class="blogtext">
                        <a>R Services In SQL Server 2017</a>
                    </div>

                </li>
            </ul>
        </div>
    </div>*@

@if (Session["user"] == null)
{
    <div class="col-md-12 col-lg-12" style="padding:0;">
        <img src="~/img/anakapak.jpg" style=" width: 100%;height: auto;" />
    </div>
}


<div class="container" style="background-color:white;margin-top:20px;">

    <div class="col-md-8 col-sm-12 " style="padding:0">

        <div id="content">
            <ul class="nav nav-tabs" id="tab">
                <li class="active"><a href="#lastQ" data-toggle="tab">Son Sorular</a></li>
                <li><a href="#popularQ" data-toggle="tab">Popüler Sorular</a></li>
                <li> <a href="#unansweredQ" data-toggle="tab">Cevapsız Sorular </a></li>
                <li> <a href="#lastA" data-toggle="tab">En Çok Cevaplananlar </a></li>
            </ul>
            <div class="tab-content" id="myTabContent" style="width:100%;">
                <div class="tab-pane fade active in" id="lastQ">
                    @foreach (var item in Model.lastQuestions)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.answers.Count()</a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.voteCount </a> Oylama
                            </span>

                            <h3> <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})" title="@item.shortTitle">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="@Url.Action("UserIndex","users",new { userid=item.user.id})" title="@item.user.UserName tarafından soruldu" rel="author">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>@item.viewCount </b> Görüntüleme </span>
                                <span class="tags">
                                    @if (item.tags != null)
                                    {
                                        foreach (var item1 in item.tags)
                                        {
                                            <a class="etiket">@item1.Name</a>
                                        }
                                    }

                                </span>
                            </p>


                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="popularQ">
                    @foreach (var item in Model.mostViewedQuestion)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.answers.Count() </a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.voteCount </a>   Oylama
                            </span>

                            <h3> <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})" rel="bookmark" title="@item.shortTitle">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="@Url.Action("UserIndex","users",new { userid=item.user.id})" title="@item.user.UserName tarafından soruldu">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="tags">
                                    @if (item.tags != null)
                                    {
                                        foreach (var item1 in item.tags)
                                        {
                                            <a class="etiket">@item1.Name</a>
                                        }
                                    }
                                </span>
                            </p>


                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="unansweredQ">
                    @foreach (var item in Model.notAnsweredQuestion)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.answers.Count() </a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.voteCount </a>   Oylama
                            </span>

                            <h3> <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})" title="@item.shortTitle">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="@Url.Action("UserIndex","users",new { userid=item.user.id})" title="@item.user.UserName tarafından soruldu">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="tags">
                                    @if (item.tags != null)
                                    {
                                        foreach (var item1 in item.tags)
                                        {
                                            <a class="etiket">@item1.Name</a>
                                        }
                                    }
                                </span>
                            </p>


                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="lastA">
                    @foreach (var item in Model.mostAnsweredQuestion)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.answers.Count()</a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})">@item.voteCount </a>   Oylama
                            </span>

                            <h3> <a href="@Url.Action("getQuestionById","questions",new { @id=item.id})" title="@item.shortTitle">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="http://demo.templatic.com/answers/author/testtt/" title="Posts by testtt" rel="author">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="tags">
                                    @if (item.tags != null)
                                    {
                                        foreach (var item1 in item.tags)
                                        {
                                            <a class="etiket">@item1.Name</a>
                                        }
                                    }
                                </span>
                            </p>


                        </div>
                    }
                </div>
                <div class="col-md-12">
                    <a href="@Url.Action("questionIndex","questions",new { tab=1})" class="readmorebtn btn">Daha Fazla Gör</a>
                </div>

            </div>

        </div>

    </div>



    <div class="col-lg-4 col-md-4">
        <div class="avt">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">+ Ekle</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="categoryRow" style="width:90%;margin-left:35px;margin-bottom:0">
                            @if (Session["user"] != null)
                            {
                                <a href="@Url.Action("postQuestion","questions")" style="float:left;margin-right:10px;">
                                    <img src="http://via.placeholder.com/150x150" />
                                </a>

                                <a href="#" style="float:left;margin-right:10px;">
                                    <img src="http://via.placeholder.com/150x150" />
                                </a>

                                <a href="#">
                                    <img src="http://via.placeholder.com/150x150" />
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("login","account")" style="float:left;margin-right:10px;">
                                    <img src="http://via.placeholder.com/150x150" />
                                </a>

                                <a href="@Url.Action("login","account")" style="float:left;margin-right:10px;">
                                    <img src="http://via.placeholder.com/150x150" />
                                </a>

                                <a href="@Url.Action("login","account")">
                                    <img src="http://via.placeholder.com/150x150" />
                                </a>
                            }

                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:0">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
                <ul class="cats">
                    <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
                    <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
                    <li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a></li>
                    <li><a href="#">Looking for Players <span class="badge pull-right">36</span></a></li>
                    <li><a href="#">Stupid Bugs &amp; Solves <span class="badge pull-right">41</span></a></li>
                    <li><a href="#">Video &amp; Audio Drivers <span class="badge pull-right">11</span></a></li>
                    <li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a></li>
                </ul>
            </div>
        </div>

        <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
                <ul class="cats">
                    <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
                    <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
                    <li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a></li>
                    <li><a href="#">Looking for Players <span class="badge pull-right">36</span></a></li>
                    <li><a href="#">Stupid Bugs &amp; Solves <span class="badge pull-right">41</span></a></li>
                    <li><a href="#">Video &amp; Audio Drivers <span class="badge pull-right">11</span></a></li>
                    <li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a></li>
                </ul>
            </div>
        </div>

        <div class="sidebarblock">
            <h3>Categories</h3>
            <div class="divline"></div>
            <div class="blocktxt">
                <ul class="cats">
                    <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
                    <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
                    <li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a></li>
                    <li><a href="#">Looking for Players <span class="badge pull-right">36</span></a></li>
                    <li><a href="#">Stupid Bugs &amp; Solves <span class="badge pull-right">41</span></a></li>
                    <li><a href="#">Video &amp; Audio Drivers <span class="badge pull-right">11</span></a></li>
                    <li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a></li>
                </ul>
            </div>
        </div>


    </div>


</div>





