@model apcurs.Models.QuestionAndArticleModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/QuestionList.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@if (Session["user"] == null)
{
    <img src="~/img/anakapak.jpg" style=" max-width: 100%;height: auto;" />
}
<div class="row" style="width:100%">
    <div class="col-md-12" style="padding:0">

        <div id="content" style="margin-left:100px;">
            <ul class="nav nav-tabs" id="tab">
                <li class="active"><a href="#lastQ" data-toggle="tab">Son Sorular</a></li>
                <li><a href="#popularQ" data-toggle="tab">Popüler Sorular</a></li>
                <li> <a href="#unansweredQ" data-toggle="tab">Cevapsız Sorular </a></li>
                <li> <a href="#lastA" data-toggle="tab">En Çok Cevaplananlar </a></li>
            </ul>
            <div class="tab-content" id="myTabContent"style="width:70%;">
                <div class="tab-pane fade active in" id="lastQ">
                    @foreach (var item in Model.lastQuestions)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="#">@item.answers.Count()</a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="#">@item.voteCount </a> Oylama
                            </span>

                            <h3> <a href="#" title="Soruyu Gör">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="#" title="@item.user.UserName tarafından soruldu" rel="author">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="pcate">  <a href="#" title="Kategori">@item.subCategory.SubCategoryName</a> </span>
                            </p>


                        </div>
                    }
                </div>

                <div class="tab-pane fade" id="popularQ">
                    @foreach (var item in Model.mostViewedQuestion)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="http://demo.templatic.com/answers/652995651088-2/#commentarea">@item.answers.Count() </a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="http://demo.templatic.com/answers/652995651088-2/#commentarea">@item.voteCount </a>   Oylama
                            </span>

                            <h3> <a href="http://demo.templatic.com/answers/652995651088-2/" rel="bookmark" title="Permanent Link to 652995651088">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="http://demo.templatic.com/answers/author/testtt/" title="Posts by testtt" rel="author">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="pcate">  <a href="http://demo.templatic.com/answers/category/uncategorized/" rel="category tag">@item.subCategory.SubCategoryName</a> </span>
                            </p>


                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="unansweredQ">
                    @foreach (var item in Model.notAnsweredQuestion)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="http://demo.templatic.com/answers/652995651088-2/#commentarea">@item.answers.Count() </a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="http://demo.templatic.com/answers/652995651088-2/#commentarea">@item.voteCount </a>   Oylama
                            </span>

                            <h3> <a href="http://demo.templatic.com/answers/652995651088-2/" rel="bookmark" title="Permanent Link to 652995651088">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="http://demo.templatic.com/answers/author/testtt/" title="Posts by testtt" rel="author">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="pcate">  <a href="http://demo.templatic.com/answers/category/uncategorized/" rel="category tag">@item.subCategory.SubCategoryName</a> </span>
                            </p>


                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="lastA">
                    @foreach (var item in Model.mostAnsweredQuestion)
                    {
                        <div class="question_list">
                            <span class="answers_total" style="margin-right:2px;">
                                <a href="http://demo.templatic.com/answers/652995651088-2/#commentarea">@item.answers.Count()</a>   Cevap
                            </span>
                            <span class="answers_total" style="margin-right:25px;margin-left:0">
                                <a href="http://demo.templatic.com/answers/652995651088-2/#commentarea">@item.voteCount </a>   Oylama
                            </span>

                            <h3> <a href="http://demo.templatic.com/answers/652995651088-2/" rel="bookmark" title="Permanent Link to 652995651088">@item.shortTitle</a></h3>
                            <p>
                                <span class="user"><strong><a href="http://demo.templatic.com/answers/author/testtt/" title="Posts by testtt" rel="author">@item.user.UserName</a></strong> </span>
                                <span class="views"><b>38 </b> Görüntüleme </span>
                                <span class="pcate">  <a href="http://demo.templatic.com/answers/category/uncategorized/" rel="category tag">@item.subCategory.SubCategoryName</a> </span>
                            </p>


                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
